<!--/stories-->
<div class="row">
  <br />
  <div class="col-md-2 col-sm-3 text-center">
    <a class="story-title" href="#"
      ><img
        alt=""
        src="{{ author.authorimg }}"
        style="width: 100px; height: 100px"
        class="img-circle"
    /></a>
  </div>
  <div class="col-md-10 col-sm-9">
    <h3>{{ author.name }}</h3>
    <div class="text-right">
      <a (click)="editAuthor()" *ngIf="_auth.loggedIn()" class="btn btn-success"
        >Update</a
      >
      <a
        (click)="deleteAuthor()"
        *ngIf="_auth.loggedIn()"
        class="btn btn-danger"
        >Delete</a
      >
    </div>
    <div class="row">
      <div class="col-xs-9">
        <h4>
          <span class="label label-default">{{ author.place }}</span>
        </h4>
        <small style="font-family: courier, 'new courier'" class="text-muted"
          >{{ author.genre }}
        </small>
      </div>
      <div class="col-xs-3"></div>
    </div>

    <h4 class="display-4">About</h4>
    <p>{{ author.authorabout }}</p>
  </div>
</div>

<!--/stories-->

<a routerLink="/home" class="btn btn-primary pull-right btnNext"
  >More <i class="glyphicon glyphicon-chevron-right"></i
></a>
