<div>
          <!--/stories-->
          <div *ngFor="let author of authors">
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="{{author.image}}" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>{{author.name}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <div class="text-right">
                      <a *ngIf="_auth.loggedIn()"
                      (click)="editAuthor(author)" class="btn btn-success">Update</a>
                      <a *ngIf="_auth.loggedIn()" (click)="deleteAuthor(author)" class="btn btn-danger">Delete</a>
                    </div>
                    <h4><span class="label label-default">{{author.place}}</span></h4><h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">{{author.genre}} • 
                      <a (click)="getAuthor(author)" class="text-muted">Read More</a></small>
                      </small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div>
    
          </div>
            <!--/stories-->
            
            
            <a routerLink="/addbook" class="btn btn-primary pull-right btnNext">Add an author <i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>